<!DOCTYPE html>
{% load static %}
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>tubuyaiter</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body class="bg-light">
    <main role="main" class="container">
        <div class="d-flex mx-auto p-3 my-3 text-white bg-info rounded shadow-sm col-8">
            <div class="float-right">
                <h3>つぶやきの詳細</h3>
            </div>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm mx-auto col-8">
            <table class="table">
                <tr>
                    <th scope="col">ID</th>
                    <td>{{ mutter.id }}</td>
                </tr>
                <tr>
                    <th scope="col">つぶやき</th>
                    <td>{{ mutter }}</td>
                </tr>
                <tr>
                    <th scope="col">つぶやいた日付</th>
                    <td>{{ mutter.created_at }}</td>
                </tr>
            </table>
            <a class="btn btn-primary" role="button" href="{% url 'mutter_list'%}">戻る</a>
        </div>
    </main>
</body>
</html>

<!--
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>tubuyaiter</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
    <main role="main" class="container">
        <div class="d-flex justify-content-between mx-auto p-3 my-3 text-white bg-info rounded shadow-sm col-8">
            <div class="float-right">
                <h3>つぶやきの詳細</h3>
            </div>
        </div>
        <table border="1">
            <tr>
                <th align="left">ID</th>
                <td>{{ mutter.id }}</td>
            </tr>
            <tr>
                <th align="left">つぶやき</th>
                <td>{{ mutter }}</td>
            </tr>
            <tr>
                <th align="left">つぶやいた日付</th>
                <td>{{ mutter.created_at }}</td>
            </tr>
        </table>
        <a href="{% url 'mutter_list'%}">戻る</a>
    </main>
</body>
</html>
-->